<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">

        <title>Add order</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    </head>

    <body>

        <header class="bg-dark text-light">

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <h1>Add order</h1>

                    </div>

                </div>

            </div>

        </header>

        <main class="container mt-4">

            <section id="form" class="bg-light py-5">

                <div class="container">

                    <p>Enter order details</p>

                    {% if errormessage %}

                        <div class="alert alert-danger" role="alert">

                            {{ errormessage }}

                        </div>

                    {% endif %}

                    <form action="/add-order" method="post">

                        <div class="form-group">

                            <label for="customerName">Customer Name</label>

                            <select id="customerName" name="customerID" class="form-control" required>

                                {% for customer in customers %}

                                    <option value="{{ customer.customerID }}">{{ customer.name }}</option>

                                {% endfor %}

                            </select>

                        </div>

                        <div class="form-group">

                            <label for="orderDate">Order Date</label>

                            <input type="date" id="orderDate" name="orderDate" class="form-control"  value=""required>

                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>

 

                </div>

            </section>

            </main>

    </body>

</html>